<div style="padding:50px">

    <h1>Pricing</h1>

    <h2>Original Price:</h2>
    <ol>
        <li>
            Subscription Fees: ₹10,000 per annum
        </li>
        <li>
            Post Employment Offer API/Transaction: Free
        </li>
        <li>
            Search Employment Offer API/Transaction: Rs 100/- per Successful Employment offer found.
        </li>
        <li>
            Moonlighting detection: Rs 1000/- per success result. (Feature Yet to Launch)
        </li>
        <li>
            Unsatisfied Employee Tracking: Rs 1000/- per success result. (Feature Yet to Launch)
        </li>
    </ol>

    <h2>
        Early User Offer: 90% Discount till first 1000 companies + 10,000 Free API transactions per month renewing at
        1st of every month
    </h2>


    <h2>Discounted Price:</h2>
    <ol>
        <li>
            Subscription Fees: ₹1000 per annum
        </li>
        <li>
            Post Employment Offer API/Transaction: Free
        </li>
        <li>
            Search Employment Offer API/Transaction: Rs 10/- per Successful Employment offer found post free API's.
        </li>
        <li>
            Moonlighting detection: Rs 100/- per success result post free API's. (Feature Yet to Launch)
        </li>
        <li>
            Unsatisfied Employee Tracking: Rs 100/- per success result post free API's. (Feature Yet to Launch)
        </li>
    </ol>
</div>
<!-- <div style="padding:50px">
    <h1>Terms & Conditions</h1>
    <p>Coming Soon...</p>
</div> -->