<div class="container">
  <div class="row">
    <div
      class="col-md-12"
      style="
        text-align: center;
        margin-bottom: 8%;
        font-style: italic;
        font-family: sans-serif;
        font-size: larger;
      "
    >
      Select One of the Button
    </div>
    <div class="col-md-6">
      <button (click)="goToEmployee(1)" class="btn btn-primary" type="submit">Employee</button>
    </div>
    <div class="col-md-6">
      <button (click)="goToEmployee(2)" class="btn btn-primary" type="submit">Employeer</button>
    </div>
  </div>
</div>
