<div class="container">
  <div class="row">
    <div class="col-md-12">
        <form [formGroup]="companySearchForm">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Enter Company Name</label
        >
        <input
        formControlName="companyname"
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <button (click)="visible()" class="btn btn-primary" type="submit"> Submit</button>
    </form>
    </div>
    <div class="col-md-12">
        <table class="table" *ngIf="visiblemodal">
            <thead>
              <tr>
                <th scope="col">Company Id</th>
                <th scope="col">Company Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pd of users">
                <th scope="row">{{pd.companyID}}</th>
                <td>{{pd.companyName}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
