<nav class="navbar background">
  <ul class="nav-list">
    <div class="logo">
      <img src="/assets/logos.jpg" alt="logo" />
    </div>
    <li><span style="color: white;">Home</span></li>
    <li><span style="color: white;" (click)="tohome()">About Us</span></li>
    <li><span style="color: white;" (click)="toContact()">Contact</span></li>
    <li><a href="/price">Pricing</a></li>
  </ul>
  <div class="rightnav">
    <ul class="nav-list">
      <li>
        <span (click)="selectPage()" style="color: white;">Register</span>
    </li>
    </ul>
  </div>
</nav>
<section class="background firstsection">
  <div class="box-main">
    <div class="firsthalf">
      <p class="text-big">
        <span style="margin: 2%;">The Future of education</span></p>
      <p class="text-small">
        The Future of education is here. We can give you develop your skills and
        placement your job in the best company
      </p>
      <div class="buttons">
        <button type="submit">Subscribe</button
        ><button type="submit">Watch video</button>
      </div>
    </div>
    <div class="secondhalf">
      <img src="/assets/logos.jpg" alt="Laptop Image" srcset="" />
    </div>
  </div>
</section>
<section class="secright" id="about">
  <div class="paras">
    <p class="sectionTag text-big">What is Lorem Ipsum?</p>
    <p class="sectionSubTag text-small">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </div>

  <div class="thumbnail">
    <img style="width: 88%" src="/assets/logos.jpg" alt="Laptop Name" />
  </div>
</section>
<section class="secright secleft">
  <div class="paras">
    <p class="sectionTag text-big">What is Lorem Ipsum?</p>
    <p class="sectionSubTag text-small">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset
      sheets containing Lorem Ipsum passages, and more recently with desktop
      publishing software like Aldus PageMaker including versions of Lorem
      Ipsum.
    </p>
  </div>

  <div class="thumbnail">
    <img style="width: 88%" src="/assets/logos.jpg" alt="Laptop Name" />
  </div>
</section>
<section class="contact" id="contact">
  <h2 class="text-center">Contact Us</h2>
  <div class="form">
    <input type="text" name="" id="" placeholder="Enter your Name" />
    <input type="text" name="" id="" placeholder="Enter your Phone" />
    <input type="email" name="" id="" placeholder="Enter your Email" />
    <input
      style="height: 103px"
      type="email"
      name=""
      id=""
      placeholder="Enter your Message"
    />
    <button class="btn btn-dark">Submit</button>
  </div>
</section>
<footer class="background">
  <p class="text-footer">Copyright &copy; 2022 - All rights reserved</p>
</footer>
