<div class="header">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
      <img src="https://apli.ai/static/recruiter/img/logo.svg" alt="" />
      <ul class="nav-links" style="margin-left: auto">
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Recruiter</a></li>
        <li><a href="/price">Pricing</a></li>
      </ul>
      <ul class="nav-links" style="margin-left: 407px; margin-top: -15px">
        <li>
          <span class="cta"
            ><button>Sign Up</button></span>
          <ul>
            <li class="cta"><button (click)="goToemployeeRegister()">Employee</button></li>
            <li class="cta"><button (click)="goToRegister()">Employeer</button></li>
          </ul>
        </li>
        <!-- <ul>
          <a class="cta" href="/employee"><button>Employee</button></a>
          <a class="cta" href="/employeer"><button>Employeer</button></a>
        </ul> -->
      </ul>
    </nav>
  </header>
</div>
<div class="main" style="margin-top: 79px">
  <h1>
    <div class="h1-heading mb-5">
      <br /><br />
      <span>Experience Work</span>
    </div>
  </h1>
  <p class="text mt-5">
    Power your search for the perfect career choice in Web3 and Web2. Just
    getting started or starting all over on a new career path, go for it. you
    have a community to fall back on.
  </p>
  <div class="button-container">
    <a class="startexplore mb-4" href="">Start Exploring</a>
    <a class="community mb-4" href="">join Community</a>
  </div>
</div>
<div class="section-virtual-experience">
  <div class="ve-heading-container">
    <h4 class="ve-main-heading">Experiences</h4>
    <div>
      <button
        class="rounded-circle bg-light text-navy-blue"
        style="width: 40px; height: 40px; border-width: 1px"
      >
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button
        class="bg-light ms-2 rounded-circle text-navy-blue"
        style="width: 40px; height: 40px; border-width: 1px"
      >
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="ve-main" id="ve-main">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="featured-tab"
          data-toggle="tab"
          href="#featured"
          role="tab"
          aria-controls="featured"
          aria-selected="true"
          >Featured</a
        >
      </li>
    </ul>
    <div class="tab-content">
      <div
        class="tab-pane fade show active"
        id="featured"
        role="tabpanel"
        aria-labelledby="featured-tab"
      >
        <div class="ve-scroll-container" style="overflow: hidden">
          <a
            href="https://apli.ai/candidate/virtual-experiences/5vTUJ1uhDT4BGUj8p7Da"
            target="_blank"
            class="text-decoration-none"
          >
            <div class="virtual-experience-container">
              <div class="virtual-exp-img-container">
                <img
                  class="ve-img"
                  src="https://apli.ai/static/apliai/img/devopsBanner.png"
                  alt="ve-image"
                />
                <img
                  class="ve-company-img"
                  src="https://apli.ai/static/apliai/img/nife.png"
                />
              </div>
              <div class="p-3">
                <p class="light-text fs-14 mb-2">Nife</p>
                <p class="text-navy-blue mb-1 fw-500 fs-17">DevOps Engineer</p>
                <div class="d-flex justify-content-between">
                  <p class="light-text">Technology</p>
                  <p class="light-text fs-14">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> 3-4 hrs
                  </p>
                </div>
              </div>
            </div>
          </a>
          <a
            href="https://apli.ai/candidate/virtual-experiences/MOu2VxyWEG21W4Fd8Wkl"
            target="_blank"
            class="text-decoration-none"
          >
            <div class="virtual-experience-container">
              <div class="virtual-exp-img-container">
                <img
                  class="ve-img"
                  src="https://apli.ai/static/apliai/img/alsisarBanner.png"
                  alt="ve-image"
                />
                <img
                  class="ve-company-img"
                  src="https://apli.ai/static/apliai/img/alsisar%20impact.png"
                />
              </div>
              <div class="p-3">
                <p class="light-text fs-14 mb-2">Alsisar Impact</p>
                <p class="text-navy-blue mb-1 fw-500 fs-17">
                  Impact Investment Analyst
                </p>
                <div class="d-flex justify-content-between">
                  <p class="light-text">Technology</p>
                  <p class="light-text fs-14">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> 3-4 hrs
                  </p>
                </div>
              </div>
            </div>
          </a>
          <a
            href="https://apli.ai/candidate/virtual-experiences/RLuNnryLAKzkRKVek0hb"
            target="_blank"
            class="text-decoration-none"
          >
            <div class="virtual-experience-container">
              <div class="virtual-exp-img-container">
                <img
                  class="ve-img"
                  src="https://apli.ai/static/apliai/img/iitBanner.png"
                  alt="ve-image"
                />
                <img
                  class="ve-company-img"
                  src="https://apli.ai/static/apliai/img/iit%20bombay.png"
                />
              </div>
              <div class="p-3">
                <p class="light-text fs-14 mb-2">IIT Bombay</p>
                <p class="text-navy-blue mb-1 fw-500 fs-17">
                  Growth Role (IIT-B Startups
                </p>
                <div class="d-flex justify-content-between">
                  <p class="light-text">Technology</p>
                  <p class="light-text fs-14">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> 5-6 hrs
                  </p>
                </div>
              </div>
            </div>
          </a>
          <a
            href="https://apli.ai/candidate/virtual-experiences/WANjr2lKgrmLh7nO7wxZ"
            target="_blank"
            class="text-decoration-none"
          >
            <div class="virtual-experience-container">
              <div class="virtual-exp-img-container">
                <img
                  class="ve-img"
                  src="https://apli.ai/static/apliai/img/apliBanner.png"
                  alt="ve-image"
                />
                <img
                  class="ve-company-img"
                  src="https://apli.ai/static/apliai/img/apli.png"
                />
              </div>
              <div class="p-3">
                <p class="light-text fs-14 mb-2">Apli.ai</p>
                <p class="text-navy-blue mb-1 fw-500 fs-17">
                  Community Manager
                </p>
                <div class="d-flex justify-content-between">
                  <p class="light-text">Technology</p>
                  <p class="light-text fs-14">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> 4-6 hrs
                  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer"></div>
