<div class="header">
    <header>
        <div style="display: flex">
            <nav class="navbar navbar-expand-lg navbar-light custom-navbar" style="justify-content: center;">
                <img height="50px" src="/assets/YourEmployeeCheckLogo.jpg" />
                <ul class="nav-links" style="margin-left: auto">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li><a href="#product">Product</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a [routerLink]="['/developer']">Developers</a></li>
                    <li><a [routerLink]="['/pricing']">Pricing</a></li>
                    <li><a href="#contactus">Contact Us</a></li>

                </ul>
                <ul class="nav-links" style="justify-content: flex-end;">
                    <li>
                        <a *ngIf="!isLoggedIn()" [routerLink]="['/login']">Login</a>
                    </li>
                    <li *ngIf="isLoggedIn()">
                        <span class="cta"><button [routerLink]="['/dashboard']"> Dashboard </button></span>
                        <ul>
                            <li class="cta"><button (click)="logout()">Logout</button></li>
                        </ul>
                    </li>
                    <li *ngIf="!isLoggedIn()">
                        <span (click)="openDialog()" class="cta"><button>Sign Up</button></span>
                        <ul>
                            <!-- <li class="cta"><button (click)="navigateByRole('Employee')">Employee</button></li> -->
                            <li class="cta"><button (click)="navigateByRole('Employer')">Employer</button></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
</div>