<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="payForm">
        <h1>Price Form</h1>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Donate us Some Amount</label
          >
          <input
          formControlName="amount"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <button (click)="pay()" type="submit" class="btn btn-primary">
          Pay Us
        </button>
      </form>
    </div>
  </div>
</div>
